# Mac Structure Files #
#######################
.DS_Store

# Fortran Compile Files #
#########################
*.mod
*.o
*.obj
*.exe
build/

# VSCode Configuration  #
#########################
.vscode